# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
Icon\r
._*
.DocumentRevisions-V100
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotbackup

# Python / Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/
pyvenv.cfg
.python-version

# PyInstaller / Build Artifacts
build/
dist/

# Output & Temp Files
*.pdf
*.zip
*.log
temp/
tmp/
